/*!
 * Стартовый шаблон для HTML-верстки
 * Версия: 1.1
 * Автор: Алексей Морозов
 * Сайт: https://itcity.by
 * Группа VK: https://vk.com/itcity.minsk
 * Instagram: https://instagram.com/itcityby
 *
 * Copyright Alexey Morozov 2018.
 */

*::-webkit-input-placeholder        {color: #666666;	opacity: 1;}
*:-moz-placeholder                  {color: #666666;	opacity: 1;}
*::-moz-placeholder                 {color: #666666; opacity: 1;}
*:-ms-input-placeholder             {color: #666666; opacity: 1;}
input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

body{
	font-family: "RobotoRegular", sans-serif;
	font-size: 16px;
	line-height: 1;
}

a{
	-webkit-transition: all ease-in .2s;
	-o-transition: all ease-in .2s;
	transition: all ease-in .2s;
}

.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}

.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
.static{position: static;}

.null{padding-left: 0; padding-right: 0;}
.null-left{padding-left: 0;}
.null-right{padding-right: 0;}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;
}

.img-responsive{
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.popup{display: none;}
.popup .popup-title{
	font-size: 20px;
	line-height: 1.2;
	text-align: center;
	padding: 10px 15px;
}

/* Селекторы для стилизации меню */
.menu{}
.menu > ul{}
.menu > ul > li{}
.menu > ul > li > a{}
.menu > ul > li.active > a, .menu > ul > li:hover > a{}

/* Селекторы для стилизации форм */
.form{}
.form .form-title{}
.form input[type="text"], .form textarea{}
.form textarea{}
.form input[type="text"]:focus, .form textarea:focus{}
.form input[type="submit"], .form input[type="reset"]{}
.form input[type="submit"]:hover, .form input[type="reset"]:hover{}
.form label{}
.form label.error{}

/* Селекторы для стилизации контента */
.content h1, .content h2, .content h3{}
.content h1{}
.content h2{}
.content h3{}
.content p{}
.content strong{}
.content em{}
.content a{}
.content a:hover{}
.content img{}
.content table{}
.content table tr th, .content table tr td{}
.content table tr td{}
.content ul, .content ol{}
.content ul li .content ol li{}

.navigation{
	display: flex;
	height: 93px;
	align-items: center;
	justify-content: flex-start;
}

.aligned-container{
	padding-left: 12.5%;
	padding-right: 12.5%;
}

.navigation-items{
	display: flex;
	margin-left: auto;
}

img.logo{
	background-size: 48px 50px;
	margin-top: 23px;
	margin-bottom: 23px;
}

.navigation-items > li{
	margin-right: 5px;
	white-space:nowrap;
}

.navigation-items>li>a{
	font-family: "Gotham Black", sans-serif;
	font-size: 10px;
	color: #868686;
	text-transform: uppercase;
	border-radius: 3px;
	padding: 12px 20px 12px 21px;
	display: block;
}
.navigation-items >li>a:hover{
	background-color: #ffbb42;
	color: #ffffff;
}

.banner{
	height: 690px;
/*	background-color: #709dca;*/
    background: url("../images/1.png") center top no-repeat;
	padding-top: 110px;
}

.heading1{
	font-family: "Gotham Black", sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 900;
	text-align: center;
	line-height: 1.5;
}
.paragraph{
	font-family: "OpenSans Light", sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-align: center;
}
.request{
	margin-top: 35px;
	display: flex;
	flex-wrap: nowrap;
	padding: 0 46px 0 41px;
	/*border-radius: 1px;*/
}
input.name, input.address, input.number{
	height: 46px;
	width: 100%;
	margin-right: 10px;
	padding: 18px 40px 18px 40px;
	background-color: #FFFFFF;
	border: none;
	font-size: 10px;
}

button.request_button{
	height: 46px;
	width: 100%;
	padding: 0 20px;
	background-color: #ffbb42;
	font-size: 14px;
	text-transform: uppercase;
	color: #FFFFFF;
	border: none;
}
/*Стилизация подсказок в input*/
/*::-webkit-input-placeholder {color:#b4b4b4;}*/
/*::-moz-placeholder          {color:#b4b4b4;}!* Firefox 19+ *!*/
/*:-moz-placeholder           {color:#b4b4b4;}!* Firefox 18- *!*/
/*:-ms-input-placeholder*/

.name {
	background: url(../images/person.png) no-repeat;
	background-position: 15px 15px;
}
.address{
	background: url(../images/letter.png) no-repeat;
	background-position: 15px 18px;

}
.number{
	background: url(../images/phone.png) no-repeat;
	background-position: 15px 18px;
}

.form-group{
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

@media (max-width: 1240px){
	.request{
		flex-wrap: wrap;
	}
}
.laptop{
    margin-top: 66px;
    width: 645px;
    height: 345px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
img.right{
    position: absolute;
    z-index: 1;
    margin-top: -190px;
    margin-left: 1040px;
}
img.left{
    position: absolute;
    z-index: 2;
    margin-top: -190px;
    margin-left: 480px;
}
.elipce{
    text-align: center;
}
input.slide1, input.slide2, input.slide3{
    display: none;
}
label{
    display: inline-block;
}
i{
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #dedfe0;
    position: relative;
    margin-top: 22px;
    margin-right: 3px;
    margin-left: 3px;
}
input[type=radio].slide1+i, input[type=radio].slide2+i, input[type=radio].slide3+i{
    border-radius: 50px;
}
i:before{
    content: "";
    position: absolute;
    border-radius: 50px;
    border: 2px solid #dedfe0;
    top: 1px; bottom: 1px;
    left: 1px; right: 1px;
    transform: scale(0);
    transition: .1s;
}
input:checked+i:before{
    transform: scale(1);
    border-color: #3fb5e2;
    top: -2px; bottom: -2px;
    left: -2px; right: -2px;
}
.slide-images{
    position: absolute;
    width: 1340px;
    height: 265px;
}
img.image{
    position: absolute;
    width: 445px;
    height: 265px;
    overflow: hidden;
    z-index: 3;
    top:-326px;
    left: 540px;
}
section.service-heading{
    margin-top: 75px;
    text-align: center;
}
section>h2{
    font-family: "Gotham Black", sans-serif;
    font-size: 21px;
    color: #394b50;
    text-transform: uppercase;
    line-height: 1.3;
    font-weight: 900;
}
section>p{
    font-family: "OpenSans Light", sans-serif;
    font-size: 12px;
    color: #616f73;
    line-height: 1.3;
}
.service{
    margin-top: 80px;
}
figure>img{
    width: 45px;
    height: 45px;
    position: absolute;
}
figure>img.s6{
     width: 33px;
     height: 55px;
}
figure>img.S3{
    width: 62px;
    height: 42px;
}
p.title{
    font-family: "Lato Bold", sans-serif;
    color: #394b50;
    text-transform: uppercase;
    font-size: 11px ;
    font-weight: 700;
}
p.text{
    color: #7b7b7b;
    font-size: 10px;
    font-family: "OpenSans Light", sans-serif;
    margin-top: 22px;
    line-height: 1.5;
}
figcaption{
    position: relative;
    display: inline-block;
    margin-left: 82px;
    width: 410px;
    margin-bottom: 80px;
}
section.about{
    height: 623px;
    background-image: url("../images/about-us.png");
    background-position: inherit;
}
img.about_img{
    width: 100%;
    height: 623px;
}
div.about_us{
    margin-top: 85px;
    padding-left: 80px;
}
div.about_us>h1{
    font-family: "Gotham Black", sans-serif;
    font-size: 21px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFFFFF;
}
div.about_us>p{
    margin-top: 28px;
    font-family: "OpenSans Light", sans-serif;
    font-size: 10px;
    line-height: 2.0;
    color: #FFFFFF;
}
button.btn_about{
    width: 145px;
    height: 45px;
    background-color: #ffc155;
    margin-top: 60px;
    border: 1px solid #e7ad48;
    border-radius: 1px;
}
button.btn_about{
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-size: 10px;
    font-family: "Lato Regular", sans-serif;
}
.btn_about:focus{
    outline: none!important;
}
section.price{
    height: 900px;
    background-color: #e7edf3;
}
div.pricing-heading>h1{
    font-family: "Lato Light", sans-serif;
    font-size: 21px;
    color: #394b50;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 135px;
}
div.pricing-heading>p{
    font-family: "Lato Light", sans-serif;
    font-size: 13px;
    color: #75888d;
    text-align: center;
    line-height: 1.5;
}
/*.clearfix:before, .clearfix:after{
    content: "";
    display: block;
    clear: both;
}*/
div.basic-plan, div.gold-plan, div.premium-plan{
    margin-top: 83px;
    width: 380px;
    height: 440px;
    background-color: #FFFFFF;
    border: 1px solid #ccd5df;
}
div.basic-plan>h2, div.gold-plan>h2, div.premium-plan>h2{
    font-family: "Lato Light", sans-serif;
    font-size: 17px;
    color: #818b95;
    text-align: center;
    line-height: 1.5;
    text-transform: uppercase;
    margin-top: 55px;
}
div.basic-plan>p, div.gold-plan>p, div.premium-plan>p{
    font-family: "Lato Light", sans-serif;
    font-size: 43px;
    color: #ffbb42;
    text-align: center;
    text-transform: uppercase;
    margin-top: 30px;
}
div.basic-plan>h1.per, div.gold-plan>h1.per, div.premium-plan>h1.per{
    font-family: "Lato Light", sans-serif;
    font-size: 10px;
    color: #818b95;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 12px;
}
div.basic-plan>h1.account, div.gold-plan>h1.account, div.premium-plan>h1.account{
    font-family: "Lato Light", sans-serif;
    font-size: 10px;
    color: #b5bbc1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 14px;
    border-bottom: 1px solid #e2e9f0;
    border-top: 1px solid #e2e9f0;
}
div>h1.account:nth-of-type(3){
    border-top: #181818;
}
div.basic-plan>h1.services, div.gold-plan>h1.services, div.premium-plan>h1.services {
    font-family: "Lato Light", sans-serif;
    font-size: 10px;
    color: #b5bbc1;
    text-align: center;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 14px;
}
div.basic-plan>button, div.gold-plan>button, div.premium-plan>button {
    width: 130px;
    height: 42px;
    font-family: "Lato Light", sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 1px;
    border: none;
    background-color: #ffbb42 ;
    margin-top: 35px;
    margin-left: 130px;
}
button:focus{
    outline: none!important;
}
div.basic-plan:hover, div.gold-plan:hover, div.premium-plan:hover{
    margin-top: 50px;
    width: 390px;
    height: 500px;
    background-color: #709dca;
    border: none;
    padding-top: 35px;
}
section.about>div.row{
    margin-left: -15px;
    margin-right: 0px;
}
div.basic-plan:hover>h2, div.gold-plan:hover>h2, div.premium-plan:hover>h2{
    color: #FFFFFF;
}
div.basic-plan:hover>p, div.gold-plan:hover>p, div.premium-plan:hover>p{
    color: #FFFFFF;
}
div.basic-plan:hover>h1.per, div.gold-plan:hover>h1.per, div.premium-plan:hover>h1.per{
    color: #FFFFFF;
}
div.basic-plan:hover>h1.account, div.gold-plan:hover>h1.account, div.premium-plan:hover>h1.account{
    color: #FFFFFF;
}
div.basic-plan:hover>h1.services, div.gold-plan:hover>h1.services, div.premium-plan:hover>h1.services{
    color: #FFFFFF;
}
section.work{
    height: 860px;
    background-color: #FFFFFF;
}
div.about-work>h1{
    font-family: "Lato Light", sans-serif;
    font-size: 21px;
    font-weight: 900;
    text-transform: uppercase;
    color: #394b50;
    text-align: center;
    margin-top: 155px;
}
div.about-work>p{
    font-family: "Lato Light", sans-serif;
    font-size: 14px;
    color: #394b50;
    text-align: center;
    line-height: 1.8;
}
div.arrow1, div.arrow2, div.arrow3{
    display: inline-block;
}
div.arrow1>img, div.arrow2>img, div.arrow3>img{
    height: 35px;
    width: 135px;
}
div.arrow1>img, div.arrow3>img{
    margin-top: -80px;
}
div.arrow2>img{
    margin-bottom: 100px;
}
div.arrow2{
    transform: rotate(180deg);
}
div.step1{
    margin-top: 110px;
    display: inline-block;
    margin-left: 100px;
}
div.step1>img{
    height: 61px;
    width: 73px;
}
div.step2{
    margin-top: 110px;
    display: inline-block;
}
div.step2>img{
    height: 66px;
    width: 52px;
}
div.step3{
    margin-top: 110px;
    display: inline-block;
}
div.step3>img{
    height: 62px;
    width: 83px;
}
div.step4{
    margin-top: 110px;
    display: inline-block;
}
div.step4>img{
    height: 70px;
    width: 67px;
}
div.arrow1{
    margin-left: 40px;
    margin-right: 50px;
}
div.arrow2{
    margin-left: 50px;
    margin-right: 40px;
}
div.arrow3{
    margin-left: 40px;
    margin-right: 50px;
}
div.steps1, div.steps2, div.steps3, div.steps4{
    max-width: 289px;
    display: inline-block;
    padding-left: 30px;
    padding-right: 55px;
    text-align: center;
}
div.steps1>h1, div.steps2>h1, div.steps3>h1, div.steps4>h1{
    font-family: "Lato Light", sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    color: #394b50;
    font-weight: 600;
    padding-top: 100px;
    text-align: center;
}
div.steps1>p, div.steps2>p, div.steps3>p, div.steps4>p{
    font-family: "Lato Light", sans-serif;
    font-size: 10px;
    color: #394b50;
    line-height: 2.0;
    padding-top: 28px;
}
div.step-button{
    text-align: center;
}
.steps-button{
    width: 165px;
    height: 46px;
    background-color: #ffbb42;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 11px;
    border: none;
    border-radius: 1px;
    margin-top: 95px;
    margin-bottom: 150px;
}
section.clients{
    height: 910px;
    background-color: #ffc155;
}
div.happy-clients>h1{
     font-family: "Lato Light", sans-serif;
     text-align: center;
     color: #FFFFFF;
     text-transform: uppercase;
     font-weight: 900;
     padding-top: 140px;
     font-size: 21px;
 }
div.happy-clients>p{
    font-family: "Lato Light", sans-serif;
    text-align: center;
    color: #FFFFFF;
    line-height: 1.5;
    font-size: 13px;
    margin-bottom: 60px;
}
div.comment-left{
    width: 566px;
    height: 243px;
    margin-right: 10px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 1px;
}
div.comment-right{
    width: 566px;
    height: 243px;
    margin-left: 10px;
    background-color: #FFFFFF;
    margin-bottom: 20px;
    border-radius: 1px;
}
div.comment-right>img, div.comment-left>img{
    margin: 43px 30px 77px 30px;
    height: 121px;
    width: 121px;
    border-radius: 55%;
}
div.comment-left>h1, div.comment-right>h1{
    padding-top: 50px;
    padding-right: 50px;
    font-family: "OpenSans Light", sans-serif;
    font-size: 12px;
    color: #7b7b7b;
    line-height: 1.8;
    text-shadow: -1px 0px 0px #d0d0d0;
}
div.comment-left>h1::before, div.comment-right>h1::before{
    content: "\201c";
    font-size: 14px;
    color: #7b7b7b;
    font-weight: 900;
    position: absolute;
    margin-top: -5px;
    margin-left: -12px;
    text-shadow: none;
}
div.comment-left>h1::after, div.comment-right>h1::after{
    content: "\201c";
    font-size: 14px;
    color: #7b7b7b;
    font-weight: 900;
    position: absolute;
    margin-top: 5px;
    margin-left: 10px;
    text-shadow: none;
    transform: scale(-1,1);
}
div.comment-left>p, div.comment-right>p{
    padding-top: 30px;
    padding-right: 50px;
    font-family: "Lato Regular", sans-serif;
    font-size: 10px;
    color: #f6772c;
    text-transform: uppercase;
}
div.comment-left>p>span, div.comment-right>p>span{
    padding-top: 30px;
    padding-right: 50px;
    font-family: "Lato Regular", sans-serif;
    font-size: 10px;
    color: #a7b4b9;
    text-transform: uppercase;
}
section.newsletter{
    height: 340px;
    background-color: #FFFFFF;
}
div.description>h1{
    text-align: center;
    padding-top: 155px;
    font-family: "Gotham Black", sans-serif;
    font-size: 21px;
    color: #394b50;
    text-transform: uppercase;
    font-weight: 900;
}
div.description>p{
    text-align: center;
    font-family: "OpenSans", sans-serif;
    font-size: 13px;
    color: #394b50;
    line-height: 1.8;
}
div.form-groups{
    margin-top: 38px;
    text-align: center;
}
div.form-groups>input.surname, div.form-groups>input.email{
    width: 308px;
    height: 47px;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    border-radius: 1px;
    color: #a9a9a9;
    font-family: "OpenSans", sans-serif;
    font-size: 10px;
    padding-left: 43px;
    margin-right: 10px;
}
div.form-groups>input.surname{
    background: url("../images/person.png") no-repeat 16px center;
}
div.form-groups>input.email{
    background: url("../images/letter.png") no-repeat 16px center;
}
div.form-groups>button{
    width: 218px;
    height: 47px;
    border: none;
    background: #ffbb42;
    color: #FFFFFF;
    font-family: "OpenSans", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 1px;
}
section.maps{
    height: 605px;
}
div.map{
    height: 550px;
    background: url("../images/map.png") center center no-repeat;
}
div.about-address{
    text-align: center;
    padding-top: 40px;
    height: 336px;
    background: url("../images/address.png") center 40px no-repeat;
}
div.about-address>h1{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 21px;
    font-family: "Lato Bold", sans-serif;
    font-size: 12px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
}
div.about-address>p{
    text-align: center;
    font-family: "Lato Bold", sans-serif;
    font-size: 10px;
    color: #8f9a9e;
    line-height: 1.9;
}
div.about-address>p.mail{
    text-align: center;
    font-family: "Lato Bold", sans-serif;
    font-size: 9px;
    color: #ffbb42;
    line-height: 1.9;
}
div.start{
    text-align: center;
    margin-top: 5px;
}
ul.navigation-footer{
    text-align: center;
    padding-top: 69px;
    margin-bottom: 29px;
    border-top: 1px solid #e3e7ec;
}
ul.navigation-footer>li{
    display: inline-block;
}
ul.navigation-footer>li>a{
    font-family: "Gotham Black", sans-serif;
    font-size: 10px;
    color: #394b50;
    text-transform: uppercase;
    margin-right: 35px;
    font-weight: 600;
}
div.phone-number{
    text-align: center;
    margin-bottom: 25px;
}
div.phone-number>img{
    display: inline-block;
    width: 16px;
    height: 17px;
}
div.phone-number>p{
    display: inline-block;
    margin-left: 7px;
    font-family: "Gotham Black", sans-serif;
    font-size: 17px;
    color: #394b50;
    font-weight: 500;
}
div.social-media{
    text-align: center;
    padding-bottom: 53px;
    padding-left: 20px;
}
.social-media>a{
    margin-right: 10px;
}
.fa-twitter:hover, .fa-facebook-f:hover, .fa-google-plus-g:hover, .fa-instagram:hover{
    color: #ffc155;
}
div.footer{
    background-color: #709dca;
    height: 45px;
}
div.footer>p{
    font-family: "OpenSans", sans-serif;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    padding-top: 18px;
}
